<br>
<br>

<br>
<div class="contenido">
  <button class="btn btn-primary"><span><b>+</b></span> agregar</button>
  <br>
  <br>
  <table id="example" class="display" width="100%">
    <thead>
      <tr align="center">
        <th>No.</th>
        <th>nombre</th>
        <th>apellido</th>
        <th>direccion</th>
        <th>telefono</th>
        <th>nickname</th>
        <th>tipo usuario</th>
        <th>Editar</th>
        <th>Borrar</th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td>No.</td>
        <td>nombre</td>
        <td>apellido</td>
        <td>direccion</td>
        <td>telefono</td>
        <td>nickname</td>
        <td>tipo usuario</td>
        <td width="3%" align="center"><button class="btn btn-primary"> <i class="fa fa-edit"></i></button> </td>
        <td width="3%" align="center"><button class="btn btn-danger"><i class="fa fa-trash"></i></button></td>
      </tr>
      <tr>
        <td>No.</td>
        <td>nombre</td>
        <td>apellido</td>
        <td>direccion</td>
        <td>telefono</td>
        <td>nickname</td>
        <td>tipo usuario</td>
        <td width="3%" align="center"><button class="btn btn-primary"> <i class="fa fa-edit"></i></button> </td>
        <td width="3%" align="center"><button class="btn btn-danger"><i class="fa fa-trash"></i></button></td>
      </tr>
    </tbody>
  </table>

  <hr>
  <br>
  clientes 
  <hr>
  <br>
  <table id="clientes_view" class="display" width="100%">
    <thead>
      <tr align="center">
        <th>No.</th>
        <th>nombre</th>
        <th>apellido</th>
        <th>direccion</th>
        <th>telefono</th>
        <th>correo</th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td>No.</td>
        <td>nombre</td>
        <td>apellido</td>
        <td>direccion</td>
        <td>telefono</td>
        <td>Correo</td>
      </tr>
      <tr>
        <td>No.</td>
        <td>nombre</td>
        <td>apellido</td>
        <td>direccion</td>
        <td>telefono</td>
        <td>nickname</td>
      </tr>
    </tbody>
  </table>
</div>
