<br>
<br>

<br>
<div class="contenido">
  <br>
  <table id="example" class="display" width="100%">
    <thead>
      <tr align="center">
        <th>No.</th>
        <th>Nombre</th>
        <th>direccion</th>
        <th>telefono</th>
        <th>correo</th>
        <th>nit</th>
      </tr>
    </thead>

    <tbody >
      <tr *ngFor="let datos of client_save.cliente">
        <td>No.</td>
        <td>{{datos.nombre_cli}}</td>
        <td>{{datos.direccion_cli}}</td>
        <td>{{datos.telefono_cli}}</td>
        <td>{{datos.correo_cli}}</td>
        <td>{{datos.nit_cli}}</td>
      </tr>

    </tbody>
  </table>
</div>



