<br>
<br>

<br>
<div class="contenido">
  <button class="btn btn-primary"><span><b>+</b></span> agregar</button>
  <br>
  <br>
  <table id="example" class="display" width="100%">
    <thead>
      <tr align="center">
        <th>ID</th>
        <th>ocacion</th>
        <th>Editar</th>
        <th>Borrar</th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td>id</td>
        <td>ocacion</td>
        <td width="10%"><button class="btn btn-primary">editar</button> </td>
        <td width="10%"><button class="btn btn-danger">eliminar</button></td>
      </tr>
      <tr>
        <td>id</td>
        <td>ocacion</td>
        <td width="10%"><button class="btn btn-primary">editar</button> </td>
        <td width="10%"><button class="btn btn-danger">eliminar</button></td>
      </tr>
    </tbody>
  </table>
</div>
