<br>
<br>

<br>
<div class="contenido">
  <button class="btn btn-primary"><i class="fa fa-plus"></i> agregar</button>
  <br>
  <br>
  <table id="example" class="display" width="100%">
    <thead>
      <tr align="center">
        <th>numero</th>
        <th>nombre</th>
        <th>descripcion</th>
        <th>categoria</th>
        <th>ocacion</th>
        <th>Editar</th>
        <th>Borrar</th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td>numero</td>
        <td>nombre</td>
        <td>descripcion</td>
        <td>categoria</td>
        <td>ocacion</td>
        <td width="3%" align="center"><button class="btn btn-primary"> <i class="fa fa-edit"></i></button> </td>
        <td width="3%" align="center"><button class="btn btn-danger"><i class="fa fa-trash"></i></button></td>
      </tr>
      <tr>
        <td>numero</td>
        <td>nombre</td>
        <td>descripcion</td>
        <td>categoria</td>
        <td>ocacion</td>
        <td width="3%" align="center"><button class="btn btn-primary"> <i class="fa fa-edit"></i></button> </td>
        <td width="3%" align="center"><button class="btn btn-danger"><i class="fa fa-trash"></i></button></td>
      </tr>
    </tbody>
  </table>
</div>
