<div class="side-nav">
    <nav>
        <ul>
            <li [routerLinkActive]="['active']">
                <a [routerLink]="['./dashboard']">
                    <span><i class="fa fa-bookmark"></i></span>
                    <span>dashboard</span>
                </a>
            </li>
            <li [routerLinkActive]="['active']">
                <a [routerLink]="['./pedidos']">
                    <span><i class="fa fa-cart-arrow-down"></i></span>
                    <span>pedidos</span>
                </a>
            </li>
            <li [routerLinkActive]="['active']">
                <a [routerLink]="['./pasteles-venta']">
                    <span><i class="fa fa-bar-chart"></i></span>
                    <span>producto venta</span>
                </a>
            </li>
            <li [routerLinkActive]="['active']">
                <a [routerLink]="['./usuarios']">
                    <span><i class="fa fa-user"></i></span>
                    <span>usuarios</span>
                </a>
            </li>
            <li [routerLinkActive]="['active']">
                <a [routerLink]="['./validar-pedido']">
                    <span><i class="fa fa-check-circle"></i></span>
                    <span>validar pedido</span>
                </a>
            </li>
            <li [routerLinkActive]="['active']">
                <a [routerLink]="['./ofertas']">
                    <span><i class="fa fa-tag"></i></span>
                    <span>ofertas</span>
                </a>
            </li>
            <li [routerLinkActive]="['active']">
                <a [routerLink]="['./client']">
                    <span><i class="fa fa-users"></i></span>
                    <span>clientes</span>
                </a>
            </li>
            <li [routerLinkActive]="['active']">
                <a [routerLink]="['./empresa']">
                    <span><i class="fa fa-star"></i></span>
                    <span>Empresa</span>
                </a>
            </li>
        </ul>
    </nav>
</div>
<div class="container"></div>
