<br>

<div class="container">
<a [routerLink]="['/index']"  style="text-transform: uppercase;"><i class="fa fa-home" aria-hidden="true"></i><span> regresar</span></a>  
  <br>
  <br>
  <div class="row">
    <div class="col-md-6">
      <div class="view-img">
          <img src="./assets/images/m1.jpg" alt="imagen 1" placeholder="img1" width="200px" height="150px">
        </div>
      <div class="img-minis">
          <div class="img-min">
              <img src="./assets/images/m1.jpg" alt="">
          </div>

          <div class="img-min">
              <img src="./assets/images/m1.jpg" alt="">
          </div>

          <div class="img-min">
              <img src="./assets/images/m1.jpg" alt="">
          </div>
      </div>
    </div>


  <div class="col-md-4">
      <h1 class="nombre-pastel">nombre del pastel</h1>
      <br>
      <p class="price-item"><span>Q. 399.00</span></p>
      <br>
      <h4 class="ocacion">ocasion</h4>
      <br>
      <div class="hvr-outline-out button2">
      <input type="submit" name="submit" value="Comprar" class="button" />
      </div>

  </div>


  </div>
  <div class="container">
    <div class="nod-descripcion">
      <p class="label-descripcion">descripcion pastel</p>
      <div class="descripcion">
        descripcion del pastel
        <br>
        <br>
      </div>

    </div>

  </div>
</div>
<br><br>
